body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(176deg, rgba(245, 245, 245, 1) 0%, rgba(102, 160, 144, 1) 94%);
}

.container {
    display: flex;
    border: 0;
}

.section1, .section2 {
    border: 2px groove #ccc;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
}

.section2 {
    width: 100%;
    padding: 10px;
}

hr {
    width: 100%;
    border-top: 2px solid #000;
    margin: auto;
}

.account-settings-links, .list-group-item, .form-group input[type="file"] {
    border: none;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item.active {
    background-color: #6ABA8C;
    color: #fff;
}

.label-upload-photo {
    background-color: #6ABA8C;
    color: #fff;
    padding: 8px 16px;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
}

.label-upload-photo:hover {
    background-color: #5e9665;
}

button {
    background-color: #6ABA8C;
    color: #fff;
    width: 100%;
    max-width: 20%;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.username-info-description, .username-pic {
    display: flex;
}

.username-pic {
    align-items: center;
}

.user {
    margin-left: 5%;
}

.username-info {
    padding: 12px;
}

.username-label {
    font-size: 18px;
    font-weight: 500;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.form-group button {
    float: right;
}

.form-group {
    padding: 1%;
}
